<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="MilyUnaNochesWPFApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAdressManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProviderManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProductsManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPurchaseManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1441/UserService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserManager" contract="MilyUnaNochesProxy.IUserManager"
                name="NetTcpBinding_IUserManager" />
            <endpoint address="net.tcp://localhost:1441/AddressManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAdressManager" contract="MilyUnaNochesProxy.IAdressManager"
                name="NetTcpBinding_IAdressManager" />
            <endpoint address="net.tcp://localhost:1441/ProviderManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProviderManager"
                contract="MilyUnaNochesProxy.IProviderManager" name="NetTcpBinding_IProviderManager" />
            <endpoint address="net.tcp://localhost:1441/ProductsManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProductsManager"
                contract="MilyUnaNochesProxy.IProductsManager" name="NetTcpBinding_IProductsManager" />
            <endpoint address="net.tcp://localhost:1441/PurchaseManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPurchaseManager"
                contract="MilyUnaNochesProxy.IPurchaseManager" name="NetTcpBinding_IPurchaseManager" />
        </client>
    </system.serviceModel>

	<log4net>
		<appender name="File" type="log4net.Appender.RollingFileAppender">
			<file value="logs/logfile.txt" />
			<datePattern value="yyyy-MM-dd'-FULL.txt'" />
			<appendToFile value="true" />
			<preserveLogFileNameExtension value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="2MB" />
			<maxSizeRollBackups value="5" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="Warn" />
			<appender-ref ref="File" />
		</root>
	</log4net>
	
	
</configuration>